<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating and exclusive community
    for developers and entrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquam, iure atque non vitae dolor eaque in. Laborum nihil commodi excepturi, cupiditate quam, minima debitis, veniam repellat nostrum porro neque.</p>
</div>